:root {
    --rs-primary-700: #000000;
    --rs-primary-500: #000000;
    --rs-calendar-range-bg: #bbbbbb;
    --rs-primary-100: #000000;
    --rs-primary-800: #000000;
    --rs-btn-primary-hover-bg: #000000;
}
.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    box-shadow: none;
}
span {
    color: inherit; /* Inherit color from parent */
}


.dates {
    text-align: center;
    padding-top: 30px;
}