.data-status {
    padding-left: 50px !important;
}

.data-order {
    padding-left: 50px !important;
    padding-top: 15px !important;
}

.data-finance {
    padding-left: 50px !important;
    padding-top: 15px !important;
}